:root {
  --main-color: #1c6ea4;
  --secondry-color: #154d71;
  --third-color: #33a1e0;
  --text-color: #f6f6f6;
}
.Thespace {
    width: 100vw;     
    min-height: 40vh;    
    background: var(--main-color);
    color: white;
    text-align: center;
    display: flex;        
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .Thespace h2 {
    font-size: 50px;
    font-weight: bold;
  }
  
  .points {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.15);
    border-radius: 10px;
  }
  
  .team-img {
    width: 300px;         
    height: 300px;        
    object-fit: contain cover;    
    border-radius: 8px;   
    transition: transform 0.5s ease,
    box-shadow 0.5s ease;
    margin-bottom: 50px;
    padding: auto;
    margin: auto;
    
  }
  
  .team-img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    
  }
  .social-icons a {
    display: inline-block;
    margin: 0 8px;
    color: #444;
    font-size: 20px;
    transition: color 0.5s ease, transform 0.5s ease;
  }
  
  .social-icons a:hover {
    color: #0044cc;
    transform: scale(1.2);
  }
  .remove-btn, .edit-btn 
  {
    margin-top: 10px;
    margin-right: 5px;
  } 
