* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
:root {
  --main-color: #1c6ea4;
  --secondary-color: #154d71;
  --third-color: #33a1e0;
  --text-color: #f6f6f6;
}
body {
  display: flex;
}
.menu {
  width: 138px;
  height: 100vh;
  padding: 20px;
  transition-duration: 0.5s;
  overflow: hidden;
  background-color: var(--main-color);
  border-radius: 0 9px;
}
.menu:hover {
  width: 300px;
}
.menu ul {
  list-style: none;
  height: 95%;
  position: relative;
}
ul li a {
  display: block;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px;
  margin: 25px 0;
  border-radius: 8px;
  transition-duration: 0.3s;
}
ul li a:hover,
.spec {
  background-color: var(--secondary-color);
  border-radius: 8px;
}
.box:hover {
  background-color: var(--third-color);
}
ul li a i {
  font-size: 30px;
}
.content {
  width: 100%;
  margin-left: 10px;
}
.content-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}
.box {
  background-color: var(--secondary-color);
  height: 150px;
  flex-basis: 150px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  border-radius: 15px;
}
.box i {
  font-size: 40px;
}
.box .text {
  text-align: center;
}
.text span {
  font-size: 30px;
}
table {
  overflow: hidden;
  border: 3px solid var(--secondary-color);
}
label {
  color: var(--main-color);
}
.butt {
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  display: block;
  width: fit-content;
  margin: 10px auto;
}
.butt:hover {
  background-color: var(--secondary-color);
}
.tb {
  /* border: 3px solid var(--main-color); */
}
.tb h3 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
button i {
  color: var(--secondary-color);
}
@media (max-width: 650px) {
  .menu {
    display: none;
  }
}

.select input {
  margin-left: 40px;
}

.select select {
  background-color: white;
  color: var(--secondary-color);
}

.select select option {
  color: var(--secondary-color);
}



.superAdminList,
.adminList,
.userList{
  display: none;
  margin-top: 50px;
}